@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
:root{
    --primary-color:#755337;
    --secondary-color:#c49c7c;
}
body{
    background-color: var(--primary-color);
}
html{
    font-size: 75%;
}
.header{
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/bg3.jpg);
    clip-path: circle(60% at left 300px);
    z-index: -1;
}
div.row1 h1{
    text-align: left;
}
.row2{
    position: absolute;
    top: 10px;
    right: 150px;
    text-align: center;
}
.row2 h2{
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 15px;
}
.row2 img{
    margin-top: 30px;
    width: 220px;
    height: 266px;
    border-radius: 10px;
    border-color: antiquewhite;
    border-style: solid;
    border-width: 1.5px;
}
.row2 .img1 {
margin-right: 1.5px;
}
.row2 .img2 {
    margin-left: 1.5px;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-family: 'EB Garamond', serif;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input {
   outline: 0; 
   border: 0;
   width: 350px;
   height: 35px;
   padding: 0 0.5rem;
   font-size: 15px;
}
.search button {
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
    margin: 1px;
}
.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}
.card {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212,185,150,0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}
.related-books {
    float: left;
    margin-right: 5px;
}
.related-books h2{
    margin-bottom: 5px;
}
.related-books .card{
    width: 130px;
    height: 130px;
}
.related-books .card img{
    width: 100px;
    height: 80%;
}
.related-books .card .bottom h3{
    font-size: 11px;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-weight: 10;
}
.related-books p{
    font-size: 0;
}
.card img {
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom {
    display: flex;
    flex-direction: column;
}
.card .bottom .title {
    font-size: 14px;
    margin-bottom: 12px;
}
.card:hover {
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.8);
}
.searchBtns button{
    font-size: 15px;
    margin: 1.5px;
    margin-top: 5px;
    width: 180px;
    height: 30px;
    border-radius: 4px;
    border-style: solid;
    background-color: bisque;
}
.searchBtns button:hover{
    background-color: antiquewhite;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: cornsilk;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    overflow-y: auto;
}
.close{
    position: absolute;
    right: 19px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
  }
.close:before, .close:after {
    position: absolute;
    left: 13px;
    top: -2px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
.close:before {
    transform: rotate(45deg);
  }
.close:after {
    transform: rotate(-45deg);
  }
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin: 10px;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}